body {
    overflow: hidden;
    font-family: 'Ubuntu', sans-serif;
}

h1 {
    font-size: 4.3em;
    letter-spacing: -4px;
    font-weight: 700;
    color: goldenrod;
    text-align: center;
    margin: 0 auto;
    text-shadow: 4px 4px 8px rgba(0, 1, 1, 1);
}

svg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1; /* Ensure SVG is behind other content */
}

.cssanimation, .cssanimation span {
    animation-duration: 1s;
    animation-fill-mode: both;
}

.cssanimation span { display: inline-block }

.leFadeInLeft span { animation-name: leFadeInLeft }
@keyframes leFadeInLeft {
    from {
        opacity: 0;
        transform: translateX(-40px);
    }
    to { opacity: 1.5 }
}



.clock-dial{
    width: 500px;
    height: 500px;
    border: 10px solid goldenrod;
    border-radius: 50%;
    margin: 0 auto;
    position: relative;
    display: flex;
    justify-content: center;
    margin-top: 20px;
    box-shadow: 15px 15px 15px rgba(0, 0, 0, 1);
    z-index: 1;
}

.point{
    width: 20px;
    height: 20px;
    background-color: black;
    border-radius: 50%;
    position: absolute;
    top: 240px;
    bottom: 240px;
}

.hour{
    font-size: 30px;
    font-weight: bold;
    color:coral;
    position: absolute;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.hour-12 {
    top: 10px;
    left: 50%;
    transform: translateX(-50%);
}

.hour-1 {
    top: 55px;
    right: 95px;
}

.hour-2 {
    top: 135px;
    right: 35px;
}

.hour-3 {
    top: 230px;
    right: 10px;
}

.hour-4 {
    top: 325px;
    right: 35px;
}

.hour-5 {
    top: 400px;
    right: 95px;
}

.hour-6 {
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
}

.hour-7 {
    bottom: 55px;
    left: 95px;
}

.hour-8 {
    bottom: 135px;
    left: 35px;
}

.hour-9 {
    top: 230px;
    left: 10px;
}

.hour-10 {
    top: 135px;
    left: 35px;
}

.hour-11 {
    top: 55px;
    left: 95px;
}

.brand{
    font-size: 20px;
    font-weight: bold;
    color:chocolate;
    position: absolute;
    top: 70px;
    left: 42.5%;
    text-shadow: 4px 4px 8px rgba(0, 0, 0, 0.5);
}

.minute-hand-wrapper{
    width: 400px;
    height: 400px;
    position: absolute;
    top: 50px;
    left: 50px;
    border-radius: 50%;
}

.minute-hand {
    position: relative;
}

.minute-hand .hand{
    width: 4px;
    height: 200px;
    background-color:black;
    position: absolute;
    left: 198px;
}

.minute-hand .arrow{
    font-size: 30px;
    font-weight: bold;
    color: black;
    transform: rotate(180deg);
    position: absolute;
    left: 191.68px;
    top: -9px; 
}

.hour-hand-wrapper{
    width: 300px;
    height: 300px;
    position: absolute;
    top: 100px;
    left: 100px;
    border-radius: 50%;
}

.hour-hand {
    position: relative;
}

.hour-hand .hand{
    width: 4px;
    height: 150px;
    background-color:black;
    position: absolute;
    left: 148px;
}

.hour-hand .arrow{
    font-size: 30px;
    font-weight: bold;
    color: black;
    transform: rotate(180deg);
    position: absolute;
    left: 141.65px;
    top: -9px; 
}

.second-hand-wrapper{
    width: 350px;
    height: 350px;
    position: absolute;
    top: 75px;
    left: 75px;
    border-radius: 50%;
}

.second-hand {
    position: relative;
}

.second-hand .hand{
    width: 2px;
    height: 175px;
    background-color:black;
    position: absolute;
    left: 174px;
}

